<!-- ===== SIDEBAR ===== -->
<aside th:fragment="sidebar" class="sidebar" id="sidebar">
    <div
            class="sidebar-header d-flex align-items-center justify-content-between mb-4"
    >
        <div class="d-flex align-items-center gap-3">
            <div class="brand-icon">
            <span class="material-symbols-outlined text-white"
            >calendar_month</span
            >
            </div>
            <div>
                <h1 class="brand-title mb-0">EventHub</h1>
                <p class="brand-sub mb-0">Organizer Portal</p>
            </div>
        </div>
        <button class="btn-icon d-lg-none" onclick="toggleSidebar(false)">
            <span class="material-symbols-outlined">close</span>
        </button>
    </div>

    <nav class="sidebar-nav flex-grow-1">
        <a th:href="@{/organizer/event/{id}/dashboard(id=${eventId})}"
           class="nav-item"
           th:classappend="${activeMenu == 'dashboard'} ? ' active' : ''">
            <span class="material-symbols-outlined">dashboard</span>
            <span>Tổng Quan</span>
        </a>
        <a href="#" class="nav-item" onclick="setTab(event,'vouchers')">
            <span class="material-symbols-outlined">local_offer</span>
            <span>Mã giảm giá</span>
        </a>
        <a th:href="@{/organizer/event/{id}/orders(id=${eventId})}" class="nav-item" onclick="setTab(event,'orders')">
            <span class="material-symbols-outlined">shopping_bag</span>
            <span>Đơn hàng</span>
        </a>
        <a th:href="@{/organizer/event/{id}/members(id=${eventId})}" class="nav-item" onclick="setTab(event,'staff')">
            <span class="material-symbols-outlined">groups</span>
            <span>Nhân Viên</span>
        </a>
        <a th:href="@{/organizer/event/{id}/checkIn(id=${eventId})}" class="nav-item" onclick="setTab(event,'checkin')">
            <span class="material-symbols-outlined">fact_check</span>
            <span>Check in</span>
        </a>
        <a th:href="@{/organizer/event/{eventId}/edit(eventId=${eventId})}" class="nav-item" onclick="setTab(event,'event-edit')">
            <span class="material-symbols-outlined">edit_calendar</span>
            <span>Chỉnh sửa sự kiện</span>
        </a>
    </nav>
</aside>
